@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-color: #e2e2e2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  margin: 0;
}

h2 {
  margin: .75rem;
  margin-bottom: 0;
}

p {
  margin: .75rem;
  margin-top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

a {
  background-color: #555;
  text-decoration: none;
  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

a:hover {
  background-color: #000;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .banner-content {
    display: inline-block;
    max-width: 25em;
    width: 48%;
    vertical-align: middle;
    padding: 1rem;
    text-align: left;
  }

  .photo {
    display: inline-block;
    max-width: 25em;
    width: 48%;
    vertical-align: middle;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .banner-content {
    padding-top: 2rem;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    margin: 0;
    margin-bottom: 1rem;
  }

  section {
    padding: 2rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

}
